* {
  box-sizing: content-box;
}

.jumbotron {
  padding: 15px;
}

.white-card {
  padding: 10px;
  background-color: white;
  border: 2px;
  border-color: black;
  border-style: solid;
}

.weather-icon {
  width: 60px;
}

.icon-small {
  width: 40px;
}

h5 {
  font-size: 80%;
}

.card p{
  font-size: 80%;
}

.cityName{
  padding-left:50px;
}

.searchBtn, .clearBtn i:hover {
 transition: all .3s ease-in-out;
}

.btn-yellow {
  color: black;
  background-color: yellow;
  border-color: yellow;
}

.btn-orange {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-violet {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

#currentWeather {
  margin-bottom: 15px;
}
